body{
    background-color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav{
    background-color: aquamarine;
    padding: 5px;
    color: #333;
    margin: 0;
}
.navText{
    background-color: aquamarine;
}


.appWrapper{
    width: 400px;
    height: 90vh;
    background-color: aquamarine;
    margin: 40px auto;
    border-radius: 20px;
   justify-content: center;
    display: flex;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.appWrapper h1{
    font-size: 25px;
    font-weight: 600;
    color: tomato;
    border-bottom: 1px solid #0d0d41;
    padding-bottom: 30px;
    ;
}
.quiz{
    padding: 20px 0;
   margin-left: 30px;
}
.quiz h2{
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
.timer{
    justify-content: space-between;
    color: tomato;
    font-size: 20px;
    display: flex;
    margin-right: 20px;
       
}
.timer button{
    padding: 7px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.btn {
    background-color: whitesmoke;
    color: tomato;
    font-weight: 500;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover:not([disabled]) {
    background-color: black;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
#nextBtn{
    background-color: tomato;
    color: white;
    padding: 7px;
    width: 50%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px auto 0;
    display: none;
}

#nextBtn:hover{
    background-color: black;
}

.correct{
    background-color: greenyellow;
}

.incorrect{
    background-color: #333;
}


@media (max-width: 600px) {
    .appWrapper {
        width: 80%;
        height: 100vh;
    }
.quiz{
    width: 70%;
        margin-right: 0;
}
    #nextBtn {
        width: 30%;
    }

    .nav {
        width: 100%;
    }}